@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron d-flex align-items-center min-vh-100 h-100" style="min-height:200px;">
    <div class="center-block">
        <div class="text-center">
            <p>Welcome to ROOMiE<br></p>
            @Html.Partial("_LoginPartial") 
        </div>
    </div>
</div>

