@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MY RESERVATIONS</h1>
    <p class="lead"></p>
    <p><a href="~/Reservations/Index" class="btn btn-default">GO &raquo;</a></p>
</div>

<div class="jumbotron">
    <h1>NEW RESERVATION</h1>
    <p class="lead"></p>
    <p><a href="~/Reservations/Create" class="btn btn-default">GO &raquo;</a></p>
</div>